<html>
    <head></head>
    <body>
        <% messages.map((message) => { %>
            <div>
                <h1><%= message.username %></h1>
                <p><%= message.text %></p>
                <p><%= message.created_at %></p>
            </div>
        <% }) %>

        <a href="/new">Add Message</a>
    </body>
</html>